(
	max_notifications: 10,
	timeout: 20000,
	poll_interval: 16,
	shortcuts: (
		notification_interact: 2,
		notification_close: 1,
		notification_closeall: 3,
	),
	history_length: 100,
	replacing_resets_timeout: true,
	min_window_width: 768,
	layout_blocks: [
		(
			name: "root",
			parent: "",
			hook: (parent_anchor: TR, self_anchor: TR),
			offset: (x: -48, y: 48),
			params: NotificationBlock((
				monitor: 0,
				border_width: 3.0,
				border_rounding: 0.0,
				gap: (x: 0.0, y: 24.0),
				background_color: (hex: "#1D1F21"),
				border_color: (hex: "#66D9EF"),
				border_color_low: (hex: "#403D3D"),
				border_color_critical: (hex: "#661512"),
				notification_hook: (parent_anchor: BL, self_anchor: TL),
			)),
		),
		(
			name: "summary",
			parent: "root",
			offset: (x: 0, y: 0),
			hook: (parent_anchor: TR, self_anchor: TR),
			params: TextBlock((
				text: "%s",
				padding: (left: 48.0, right: 18.0, top: 28.0, bottom: 24.0),
				font: "Dejavu Sans 36",
				color: Color(hex: "#f8f8f2"),
				dimensions: (
					width: (min: 768, max: 768),
					height: (min: 0, max: 300),
				),
				dimensions_image_hint: (
					width: (min: 600, max: 600),
					height: (min: 0, max: 300),
				),
			)),
		),
		(
			name: "image",
			parent: "summary",
			hook: (parent_anchor: TL, self_anchor: TR),
			offset: (x: 0, y: 0),
			render_criteria: [ HintImage ],
			params: ImageBlock((
				image_type: Hint,
				padding: (left: 28, right: -24.0, top: 24.0, bottom: 24.0),
				rounding: 0.0,
				scale_width: 144,
				scale_height: 144,
				filter_mode: Lanczos3,
			)),
		),
		(
			name: "body",
			parent: "summary",
			offset: (x: 0, y: 0),
			hook: (parent_anchor: BL, self_anchor: TL),
			render_criteria: [ Body ],
			render_anti_criteria: [ AppName("progress") ],
			params: ScrollingTextBlock((
				text: "%b",
				padding: (left: 48.0, right: 18.0, top: -12.0, bottom: 30.0),
				font: "DejaVu Sans 36",
				color: (hex: "#f8f8f2"),
				scroll_speed: 0.1,
				lhs_dist: 24.0,
				rhs_dist: 24.0,
				scroll_t: 1.0,
				width: (min: 768, max: 768),
				width_image_hint: (min: 580, max: 580),
			)),
		),
		(
			name: "progress",
			parent: "body",
			offset: (x: 0, y: 0),
			hook: (parent_anchor: BL, self_anchor: TL),
			render_criteria: [ Progress ],
			render_anti_criteria: [ Body ],
			params: ProgressBlock((
				padding: (left: 48.0, right: 12.0, top: 15.0, bottom: 42.0),
				border_width: 0.0,
				border_rounding: 0.0,
				fill_rounding: 0.0,
				border_color: (hex: "#1D1F21"),
				background_color: (hex: "#403D3D"),
				fill_color: (hex: "#66D9EF"),
				width: 735.0,
				height: 24.0,
			)),
		),
		(
			name: "progress_muted",
			parent: "body",
			offset: (x: 0, y: 0),
			hook: (parent_anchor: BL, self_anchor: TL),
			render_criteria: [ And([Progress, Body]) ],
			params: ProgressBlock((
				padding: (left: 48.0, right: 12.0, top: 15.0, bottom: 42.0),
				border_width: 0.0,
				border_rounding: 0.0,
				fill_rounding: 0.0,
				border_color: (hex: "#1D1F21"),
				background_color: (hex: "#403D3D"),
				fill_color: (hex: "#64888F"),
				width: 735.0,
				height: 24.0,
			)),
		),
	],
)
